.footer {
    display: flex;
    padding-top: 1rem;
    padding-bottom: 2rem;
    background-color: rgb(31 31 31);
}

.footer__cantainer {
    justify-content: center;
    align-items: center;
}

.footer__logo {
    
}

.footer__contacts-links {
    display: flex;
    gap: 10px;
}

.obj {
    color: white;
}