.header {
    margin-bottom: 20px;
    display: flex;
    padding: 1rem 1rem;
    width: 100%;
    background-color: rgb(31 31 31);
}

.header__logo {
    margin-right: auto;
}

.header__nav-list-item {
    color: #fff;
}

.header__nav {
    display: flex;
    align-items: center;
}

.header__list {
    display: flex;
    gap: 20px;
}