.main {
    background-color: #fff;
}

.main__header {
    color: rgb(38, 38, 38);
}

.main__filters-sections {
    color: rgb(77, 77, 77);
}

.main__filters-sections-option {
    color: rgb(38, 38, 38);
}

.main__filters-sections-option {
    color: rgb(38, 38, 38);  
}
