.button {
    color: rgb(164, 3, 31);
    border:  1px solid rgb(164, 3, 31);
    padding: 1rem 1.25rem;
    background-color: #fff;
    border-radius: 8px;
    font-size: 18px;
    font-family: "Playfair", sans-serif;
    cursor: pointer;
}

.button_without-border {
    border: none;
}

.button_with-cross {
    background: url("../images/cross.svg") no-repeat;
    background-size: 20px;
    background-position: right 20px;
}

.select {
    max-width: 160px;
    width: 100%;
    padding: 1rem 1.25rem;
    border-radius: 12px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, .15);
    border-color: rgb(217, 217, 217);
    cursor: pointer;
}

.select__input option {
    padding: 8px;
}

.select_large {
    max-width: 320px;
}

.title {
    font-size: 32px;
    font-weight: bold;
    line-height: 1.5rem;
    color: rgb(38, 38, 38);
    font-family: "Playfair", sans-serif;
}

.text_white-bold {
    font-size: 18px;
    font-weight: bold;
    line-height: 1.5rem;
    color: #fff;
    font-family: "Playfair", sans-serif;
}

.text_black {
    font-size: 18px;
    font-weight: normal;
    line-height: 1.5rem;
    color: rgb(38, 38, 38);
    font-family: "Playfair", sans-serif;
}

.text_secondary-black {
    font-size: 18px;
    font-weight: normal;
    line-height: 1.5rem;
    color: rgb(77, 77, 77);
    font-family: "Playfair", sans-serif;
}
